5_ACCOUNTS/node_modules
6_EXPRESS/1_instalacao/node_modules
6_EXPRESS/2_setup/node_modules
6_EXPRESS/3_render_html/node_modules
6_EXPRESS/4_nodemon/node_modules
6_EXPRESS/5_midleware/node_modules
6_EXPRESS/6_param_url/node_modules
6_EXPRESS/7_post_de_dados/node_modules
6_EXPRESS/8_modulo_rotas/node_modules
6_EXPRESS/9_colocando_css/node_modules
6_EXPRESS/10_404/node_modules
6_EXPRESS/11_tarefa/node_modules
7_TEMPLATE_ENGINE/1_instalacao_handlebars/node_modules
7_TEMPLATE_ENGINE/2_layouts/node_modules
7_TEMPLATE_ENGINE/3_dado_para_view/node_modules
7_TEMPLATE_ENGINE/4_condicionais/node_modules
7_TEMPLATE_ENGINE/5_else/node_modules
7_TEMPLATE_ENGINE/6_estrutura_repeticao/node_modules
7_TEMPLATE_ENGINE/7_with/node_modules
7_TEMPLATE_ENGINE/8_partials/node_modules
7_TEMPLATE_ENGINE/9_css/node_modules
7_TEMPLATE_ENGINE/10_tarefa/node_modules
8_NODE_E_MYSQL/1_instalacao_mysql/node_modules
8_NODE_E_MYSQL/2_inserindo_dados/node_modules
8_NODE_E_MYSQL/3_resgatar_dados/node_modules
8_NODE_E_MYSQL/4_resgatando_individuais/node_modules
8_NODE_E_MYSQL/5_edicao_primeira_etapa/node_modules
8_NODE_E_MYSQL/6_atualizacao_de_dados/node_modules
8_NODE_E_MYSQL/7_excluindo_dado/node_modules
8_NODE_E_MYSQL/8_connection_pool/node_modules
8_NODE_E_MYSQL/9_preparar_query/node_modules
9_SEQUELIZE/1_instalacao/node_modules
9_SEQUELIZE/2_criando_model/node_modules
9_SEQUELIZE/3_inserindo_dados/node_modules
9_SEQUELIZE/4_lendo_dados/node_modules
9_SEQUELIZE/5_resgatando_dado/node_modules